<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->
    

    <title>Dinosaur Fossils in the U.S.A</title>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Custom Styling -->
	<link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
	<script src="https://kit.fontawesome.com/c17db6804c.js" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark jcsb">
        <a class="navbar-brand" href="#">DINOSAUR FOSSILS IN THE U.S.A</a>
        <form class="form-inline mt-2 mt-md-0">
          <img class="trex" src="static/images/trex.svg">
        </form>
    </nav>
    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Random Fact #1</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Random Fact #2</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Random Fact #3</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/images/sites.svg" alt="Generic placeholder image" width="140" height="140">
            <h2><span class="counter1">67</span></h2>
            <p>Number of sites in our database.</p>
            <p><a class="btn btn-secondary" id="leaflettoggle" href="#leafletmap" data-toggle="tab" role="button" aria-expanded="true" class="nav-link active">View Leaflet Map &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/images/species.svg" alt="Generic placeholder image" width="140" height="140">
            <h2><span class="counter2">86</span></h2>
            <p>Number of species identified.</p>
            <p><a class="btn btn-secondary" id="dendogramtoggle" href="#dendogram" data-toggle="tab" role="button" aria-expanded="false" class="nav-link">View Highcharts Dendogram &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="static/images/bones.svg" alt="Generic placeholder image" width="140" height="140">
            <h2><span class="counter3">14</span></h2>
            <p>Number of different bone fragments.</p>
            <p><a class="btn btn-secondary" id="plotlychartstoggle" href="#plotlycharts" data-toggle="tab" role="button" aria-expanded="false" class="nav-link">View Plotly Charts &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div class="row">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere magna a quam suscipit scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper sodales ante iaculis scelerisque. Nam ac libero vel nisi iaculis tincidunt a nec dolor. In nec porta lectus, ut rutrum purus. Suspendisse eu tortor magna. Etiam sed libero non elit consequat eleifend. Morbi at accumsan dolor. Aenean massa turpis, dignissim nec nisi at, ultricies ultricies nulla. Phasellus sapien elit, egestas id rhoncus quis, iaculis et tellus. Quisque quis sem augue. Integer rutrum tortor sapien, vitae pretium neque suscipit vel.</p>
        </div>

      </div><!-- /.container -->

	  <div class="container features">	


		<div class="row noscroll">
			<div class="col-lg-12 col-md-12">
				<div class="box">
					<div class="container features">
						<div class="row" style="padding-bottom: 30px;">
							<div class="card-body">
								<ul class="nav nav-tabs">
									<li class="nav-item">
										<a id="tabb1" href="#leafletmap" data-toggle="tab" aria-expanded="false" class="nav-link active">
                      <img class="reqs" src="../static/images/leaflet.png">
                      <span class="d-none d-sm-inline-block">/ <i class="fal fa-map-marked-alt"></i> MAP</span>
										</a>
									</li>
									<li class="nav-item">
										<a id="tabb2" href="#dendogram" data-toggle="tab" aria-expanded="true" class="nav-link">
                      <img class="reqs" src="../static/images/highcharts.png">
                      <span class="d-none d-sm-inline-block">/ <i class="fal fa-chart-network"></i> DENDOGRAM</span>
										</a>
									</li>
									<li class="nav-item">
										<a id="tabb3" href="#plotlycharts" data-toggle="tab" aria-expanded="true" class="nav-link">
                      <img class="reqs" src="../static/images/plotly.png">
                      <span class="d-none d-sm-inline-block">/ <i class="fal fa-chart-bar"></i> , <i class="fal fa-chart-pie"></i> BAR & PIE CHARTS</span>
                    </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane" id="leafletmap">
                    <div class="box" id="leafletdiv">
                      <h3 class="title">LEAF MAP</h3>
                      <div id="mapid"></div>
                    </div>
                  </div>
									<div class="tab-pane" id="dendogram">
                    <figure class="highcharts-figure">
                      <div id="container" style="width:100%"></div>
                  </figure>
                  </div>
									<div class="tab-pane" id="plotlycharts">
                    <div class="tab-pane col-md-6" id="plotly"></div>
                    <div class="tab-pane col-md-5" id="pychart"></div>

                  </div>
								</div>
							</div>

						</div>
					</div>

				</div>
				
			</div>
		</div>
	</div>





      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; A project by Ainash Toleu, Michael Frieaesn and Fukhrudin Maalim in partial fulfilment of requirements for <a href="https://bootcamp.umn.edu/data/landing/" target="_blank"> UMN's Data Analytics & Visualization Bootcamp</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
	<script>
        jQuery(document).ready(function($) {
            $('.counter1').counterUp({
                delay: 10,
                time: 1000
            });
            $('.counter2').counterUp({
                delay: 10,
                time: 1000
            });
            $('.counter3').counterUp({
                delay: 10,
                time: 1000
            });
        });

        $("#leaflettoggle").click(function(){
                $("#tabb1").addClass("active");
                $("#tabb2,#tabb3").removeClass("active");
                $("#leafletmap").addClass("active").siblings().removeClass("active");
            }); 
        $("#dendogramtoggle").click(function(){
                $("#tabb2").addClass("active");
                $("#tabb1,#tabb3").removeClass("active");
                $("#dendogram").addClass("active").siblings().removeClass("active");
            }); 
        $("#plotlychartstoggle").click(function(){
                $("#tabb3").addClass("active");
                $("#tabb1,#tabb2").removeClass("active");
                $("#plotlycharts").addClass("active").siblings().removeClass("active");
            }); 

    
            $(document).ready(function() {
                $('#plotlychartstoggle').click(function() {
                  $(document).scrollTo('.noscroll');
        }
});

    </script>
	<script src="http://ciromattia.github.io/jquery.counterup/jquery.counterup.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>  
  
</body>
</html>
